In [1]:
import requests
from pprint import pprint
import pandas as pd

from config import key

In [20]:
state_ids = ["PET.EMM_EPMM_PTE_SCA_DPG.W", "PET.EMM_EPMP_PTE_SCA_DPG.W", "PET.EMM_EPMR_PTE_SCA_DPG.W", 
             "PET.EMM_EPMM_PTE_SCO_DPG.W", "PET.EMM_EPMP_PTE_SCO_DPG.W", "PET.EMM_EPMR_PTE_SCO_DPG.W",
             "PET.EMM_EPMM_PTE_SNY_DPG.W", "PET.EMM_EPMP_PTE_SNY_DPG.W", "PET.EMM_EPMR_PTE_SNY_DPG.W",
             "PET.EMM_EPMM_PTE_SOH_DPG.W", "PET.EMM_EPMP_PTE_SOH_DPG.W", "PET.EMM_EPMR_PTE_SOH_DPG.W",
             "PET.EMM_EPMM_PTE_STX_DPG.W", "PET.EMM_EPMP_PTE_STX_DPG.W", "PET.EMM_EPMR_PTE_STX_DPG.W",
             "PET.EMM_EPMM_PTE_SWA_DPG.W", "PET.EMM_EPMP_PTE_SWA_DPG.W", "PET.EMM_EPMR_PTE_SWA_DPG.W",
             "PET.EMM_EPMM_PTE_R1X_DPG.W", "PET.EMM_EPMP_PTE_R1X_DPG.W", "PET.EMM_EPMR_PTE_R1X_DPG.W",
             "PET.EMM_EPMM_PTE_R1Y_DPG.W", "PET.EMM_EPMP_PTE_R1Y_DPG.W", "PET.EMM_EPMR_PTE_R1Y_DPG.W",
             "PET.EMM_EPMM_PTE_R1Z_DPG.W", "PET.EMM_EPMP_PTE_R1Z_DPG.W", "PET.EMM_EPMR_PTE_R1Z_DPG.W",
             "PET.EMM_EPMM_PTE_R20_DPG.W", "PET.EMM_EPMP_PTE_R20_DPG.W", "PET.EMM_EPMR_PTE_R20_DPG.W",
             "PET.EMM_EPMM_PTE_R30_DPG.W", "PET.EMM_EPMP_PTE_R30_DPG.W", "PET.EMM_EPMR_PTE_R30_DPG.W",
             "PET.EMM_EPMM_PTE_R40_DPG.W", "PET.EMM_EPMP_PTE_R40_DPG.W", "PET.EMM_EPMR_PTE_R40_DPG.W",
             "PET.EMM_EPMM_PTE_R5XCA_DPG.W", "PET.EMM_EPMP_PTE_R5XCA_DPG.W", "PET.EMM_EPMR_PTE_R5XCA_DPG.W"]

In [25]:
# Create final dataframe
final_df = pd.DataFrame(columns=["date", "price", "location", "grade"])

for ids in state_ids: 
    url = "http://api.eia.gov/series/?api_key=" + key + "&series_id=" + ids
    responses = []
    dataset = requests.get(url).json()
    test = dataset["series"][0]["data"]

    # Put data into dataframe
    temp_df = pd.DataFrame(test, columns=["date", "price"])

    # Format date to datetime
    temp_df['date'] = pd.to_datetime(temp_df['date'])

    # Add third column with location
    temp_df['location'] = dataset["series"][0]["geography"]

    # Add fourth column with gas grade
    temp_df['grade'] = url[url.index("EPM")+3]
    
    final_df = final_df.append(temp_df)

#final_df = final_df.reset_index(drop=True)


final_df['']

final_df

            date  price                                   location grade
0     2021-08-16  4.497                                     USA-CA     M
1     2021-08-09  4.474                                     USA-CA     M
2     2021-08-02  4.461                                     USA-CA     M
3     2021-07-26  4.422                                     USA-CA     M
4     2021-07-19  4.424                                     USA-CA     M
...          ...    ...                                        ...   ...
48406 1998-06-15  1.160  USA-AK+USA-AZ+USA-HI+USA-NV+USA-OR+USA-WA     R
48407 1998-06-08  1.162  USA-AK+USA-AZ+USA-HI+USA-NV+USA-OR+USA-WA     R
48408 1998-06-01  1.166  USA-AK+USA-AZ+USA-HI+USA-NV+USA-OR+USA-WA     R
48409 1998-05-25  1.170  USA-AK+USA-AZ+USA-HI+USA-NV+USA-OR+USA-WA     R
48410 1998-05-18  1.162  USA-AK+USA-AZ+USA-HI+USA-NV+USA-OR+USA-WA     R

[48411 rows x 4 columns]